body {
  margin: 0;
  font-family: "Poppins";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* primary color 
#996A32  -----> light brown
*/


/* Global Styling  */
*{margin: 0; padding: 0; box-sizing: border-box;}
.text-center{text-align: center;}
.flex-container{display: flex; justify-content: center; align-items: center;}
.d-flex{display: flex;}
.o-2{order: 2;}
.o-1{order: 1;}
.justify-start{justify-content: start;}
.justify-end{justify-content: end;}
.justify-center{justify-content: center;}
.justify-around{justify-content: space-around;}
.justify-between{justify-content: space-between;}
.align-center{align-items: center;}
.flex-wrap{flex-wrap: wrap;}
.inner-container{max-width: 1260px; width: 100%; margin: auto; padding: 0 3rem;}
img{width: 100%;}
a{color: #000; text-decoration: none;}
.col-1{width: 50%;}
.col-2{width: 45%;}

/* header css  */
.header-container{padding: 10px 40px;}
.header-container .logo{max-width: 200px; width: 100%; height: auto; cursor: pointer;}
.header-container .navbar .icon{margin: 0 10px; cursor: pointer; transition: all 0.2s ease; }
.header-container .navbar .icon svg{font-size: 25px;margin: 0 3px;}
.header-container .navbar .icon:hover{color:#996A32;}
.hamburger-menu {display: none;}

/* Show the mobile nav when the hamburger menu is clicked */
.navbar.mobile-nav  {display: flex;}

.navbar.mobile-nav .desktop-nav{display: block;}
.navbar.mobile-nav .icon.d-flex{border-bottom: 1px solid; padding: 10px ; justify-content: center;}


/* card container  */
.card-container .inner-card{transition: all 0.3s ease;}
.card-container .inner-card:hover{box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;}
.card-container .card-body .card-text h5{height: 2.5em; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}
.products-container{margin: 50px 0;}
.card-col{max-width: 280px;}
img.asset-image { width: 250px;}
.card-col .inner-card{padding: 20px;}

/* showing hamburger in mobile */
@media screen and (max-width: 767px){
  .desktop-nav {display: none;}
  .hamburger-menu {display: block;}
  .header-container{padding:5px 0 0 0;}
  .header-container .logo{max-width: 150px;}
  .mobile-nav { display: flex; flex-direction: column; position: absolute; top: 60px; /* adjust as needed */ right: 0; background-color: white; box-shadow: 0 8px 16px rgba(0,0,0,0.3); padding: 1em; width: 400px; height: auto; }

}

/* rating css  */
.rating-container svg{margin: 0 1px; color: #996A32 ;}
.rating-text{margin-left: 5px;}


/* product detail page css */

.products-details-page-container{
  margin: 50px 0;
}
.product-image-container {
  max-height: 500px;
  overflow: hidden;
  border-radius: 5px;
}


.product-details-container .product-row:not(.product-name){margin: 20px 0;}
.product-details-container .product-name {
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}

.product-details-container .product-price {
  font-size: 20px;

}


.product-details-container .stock.out-of-stock {
  color: #da4d4d;
}
.product-details-container .stock.in-stock {
  color: #1aa738;
}

.product-details-container .add-to-cart-btn {
  margin-top: 10px;
}

.product-details-container .btn {
  background-color: #996A32;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.product-details-container .btn:hover {
  background-color: #7a5126;
}

.product-details-container .btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
  /* opacity: 0.6; */
}
.go-back-btn{margin: 20px 0;}
.go-back-btn button{padding: 10px 30px; background-color: #000; color: #fff; outline: none; border: none;}